.content-block a, .exp-content a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 1px dotted var(--primary-color);
    transition: all 0.2s;
}

.content-block a:hover, .exp-content a:hover {
    color: var(--accent-color);
    border-bottom-style: solid;
}

